<style>
    body {
        text-align: center;
        background-color: antiquewhite;
    }
</style>
<p>Зачем вам двощаяса реклама?</p>
<img src="https://i.pinimg.com/originals/37/ff/41/37ff419ab7ab5071fb3999e3f9576676.jpg" width="200" />